.expen-balance{
    text-align: center;
}

.save-gr h4{
    display: inline;
}
.save-input-mony{
   width: 40%; 
}
.food-iput-cost{
    display: inline;
}
.cal-section{
    background-color: rgb(245, 244, 243);
}
.incme-lebel h3{
text-align: center;
}
.expen-lebel h3{
text-align: center;
}
