
.Cal-output {
  text-align: center;
  margin-top: 25px;
}
.save-gr{
    margin-top: 25px;
}
.save-gr h4 {
  display: inline;
}
.save-input-mony {
  width: 40%;
}
.food-iput-cost {
  display: inline;
}
.cal-section {
  background-color: rgb(245, 244, 243);
  padding: 30px;
}
.income-lebel h3 {
  text-align: center;
}
.expen-lebel h3 {
  text-align: center;
}
